.insert-area{
    width: 50%;  
    border-radius: 15px;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    background-color: blueviolet;
}

.usuario-insert input{
    background: aliceblue;
    border: 1px solid rgb(11, 186, 209);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: dimgray;
}

.usuario-insert label{
    font-size: 20px;
    color: black;
    font-weight: bold;
}